@use "sass:color";
@use "./widget/notification/Notification.scss";

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$base: #44465c;
$blue: #3fc6de;
$surface: #44465c;
$text: #d9e0ee;
$overlay: #6e738d;
$red: #ec6a88;
$peach: #efb993;
$yellow: #efb993;
$mauve: #b072d1;
$green: #3fdaa4;
$mantle: #292a37;
$crust: #2e303e;
$light-gray: #9699b7;

window.Bar {
    background: $mantle;
    color: $fg-color;
    font-weight: bold;

    button {
        border-radius: 8px;
    }
}
.clock {
    font-weight: bold;
    font-size: 1.5rem;
    background: $base;
    color: $text;
    border-radius: 10px;
    padding: 0.2rem 0.4rem;
    margin: 0.5rem;
}

.powerbutton {
	transition: color 0.2s ease-in;
	font-size: 24px;
	color: color.adjust($red, $alpha: -0.5);
    background: transparent;
	margin: 0.5rem;
}

.powerbutton:hover {
	color: color.adjust($red, $alpha: -0.2);
}

.powerbutton:active {
	color: $red;
}

.launcher {
	font-size:  32px;
	margin: 0.5rem;
	padding: 0.1rem 0rem;
	border-radius: 10px;
}

.tray {
	background: $base;
	border-radius: 10px;
	padding: 0.5em 0.2em;
	margin: 0.5em;
	font-size: 18px;

    >button {
      background: transparent;
    }
}

.audio {
	color: $green;
}

.network {
	color: $mauve;
}

.workspace {
  	font-size: 0;
	min-width: 14px;
	min-height: 14px;
	border-radius: 4px;
	box-shadow: inset 0 0 0 1px $light-gray;
	background-color: $light-gray;

    &.occupied {
      background-color: $green;
    }

    &.focused {
      background-color: $red;
    }
}

.powermenu {
	font-size: 96px;
	background: $crust;
	padding: 32px;
	border-radius: 24px;

    button {
      all: unset;
    }
}

.power-btn {
	background: $surface;
	padding: 24px;
	border-radius: 12px;
}

.power-btn:hover {
	background: color.adjust($overlay, $alpha: -0.3);
}

.power-btn:active {
	background: $mantle;
}

.power-btn:focus {
	border: solid 4px $mantle;
}

.shutdown-btn {
	color: $red;
}

.reboot-btn {
	color: $mauve;
}

.suspend-btn {
	color: $blue;
}

.logout-btn {
	color: $yellow;
}
