@define-color base #44465c;
@define-color blue #3fc6de;
@define-color surface #44465c;
@define-color text #d9e0ee;
@define-color overlay #6e738d;
@define-color red #ec6a88;
@define-color peach #efb993;
@define-color yellow #efb993;
@define-color mauve #b072d1;
@define-color green #3fdaa4;
@define-color mantle #292a37;
@define-color crust #2e303e;
@define-color light-gray #9699b7;

* {
	all: unset;
}

.bar {
	background-color: @mantle;
	min-width: 52px;
}

.clock {
	font-weight: bold;
	font-size: 1.5rem;
	background: @base;
	color: @text;
	border-radius: 10px;
	padding: 0.2rem 0.4rem;
	margin: 0.5rem;
}

.powerbutton {
	transition: color 0.2s ease-in;
	font-size: 24px;
	color: alpha(@red, 0.5);
	margin: 0.5rem;
}

.powerbutton:hover {
	color: alpha(@red, 0.8);
	text-shadow: 5px 5px @red;
}

.powerbutton:active {
	color: @red;
}

.launcher {
	font-size:  32px;
	margin: 0.5rem;
	padding: 0.2rem 0rem;
	border-radius: 10px;
}

.launcher:hover {
	background: @base;
}

.shortcut {
	font-size: 24px;
	background: @base;
	color: @light-gray;
	border-radius: 10px;
	padding: 0.5rem 0.4rem;
	margin: 0.5rem;
}

.shortcut-icon:hover {
	color: @text;
	transition: color 0.3s ease-out;
}


.tray {
	background: @base;
	border-radius: 10px;
	padding: 0.5em 0.4em;
	margin: 0.5em;
	font-size: 18px;
}


.bluetooth {
	color: @blue;
}

.battery {
	color: @peach;
}

.charging, .charged, .full{
	color: @green;
}

.sucess {
	color: @red
}
.alert {
	color: @red;
}

.network {
	color: @mauve;
}

.brightness {
	color: @yellow;
}

.audio {
	color: @green;
}

.backdrop {
	background: rgba(0, 0, 0, 0.8);
}

.powermenu {
	font-size: 96px;
	background: @crust;
	padding: 32px;
	border-radius: 24px;
}

.power-btn {
	background: @surface;
	padding: 24px;
	border-radius: 12px;
}

.power-btn:hover {
	background: alpha(@overlay, 0.7);
}

.power-btn:active {
	background: @mantle;
}

.power-btn:focus {
	border: solid 4px @mantle;
}

.poweroff-btn {
	color: @red;
}

.reboot-btn {
	color: @mauve;
}

.suspend-btn {
	color: @blue;
}

.logout-btn {
	color: @yellow;
}

.dot {
	font-size: 0;
	min-width: 14px;
	min-height: 14px;
	border-radius: 4px;
	box-shadow: inset 0 0 0 1px @light-gray;
	background-color: @light-gray;
}

.active {
	background-color: @base;
}

.occupied {
	border-color: @base;
}
